<%= render "public/homes/header" %>
<div class='container mt-5'>
<%= form_with(model: nil, local: true) do |f| %>
  <div class="actions">
    <%= f.label :lat,"緯度" %>
    <%= f.text_field :lat,:value =>"緯度", id: :lat %>
    <%= f.label :lng,"経度" %>
    <%= f.text_field :lng,:value =>"経度", id: :lng %>
<% end %>

<input id="address" type="textbox" placeholder="地図上を検索" value="東京駅">
<input type="button" value="登録ピンの作成" onclick="codeAddress()">
<p>ピンをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>
</div>
<style>
#map {
  height: 600px;
  width: 800px;
}
</style>

<script>
//初期マップの設定

var map
var marker

function initMap(){

  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng: 139.7690174},  //東京
    zoom: 15,
  });

  // -- start - 1set
  <% @posts.each do |post| %>
    marker_<%= post.id %> = new google.maps.Marker({ // ピンの追加
      position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>}, // ピンを立てる位置を指定
      map: map // ピンを立てる地図を指定
    });

    marker_<%= post.id %>.addListener('click', function() { // ピンをクリックしたとき
      new google.maps.InfoWindow({ // 吹き出しの追加
          content: '<%= image_tag 'no_image.jpg', size: "75x75" %><br><%= post.place %><br>登録カテゴリ<br>１<br><%= link_to "詳細を見る", post_path(post) %>' // 吹き出しに表示する内容
      }).open(map, marker_<%= post.id %>);
    });
  <% end %>
  // -- end - 1set
}

var geocoder
var aft
//検索後のマップ作成
function codeAddress(){

  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //ピンが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくピンを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // ピンのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });

        let infoWindow = new google.maps.InfoWindow({
          content: ''
        })

        google.maps.event.addListener(marker, 'click', function() {
          infoWindow = new google.maps.InfoWindow({
          content: 'ここはまだ登録されていないようです…<br/>何があるのか紹介してみましょう！<div class="text-center"><a href="/sights/posts/new?lat=' + document.getElementById('lat').value + '&lng=' + document.getElementById('lng').value + '">登録する</a></div>'
          })
          infoWindow.open(map, marker)
        })
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap" async defer data-turbolinks-eval="false"></script>